<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Anderson CVI Coding Club</title>
    <meta name="description" content="Homepage for the Anderson CVI Coding Club" />
    <meta name="author" content="Anderson CVI Coding Club" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/home.css" />
    <link rel="shortcut icon" href="./images/favicon.ico" />
    
    <script src="./source/index.js" type="module" defer></script>
  </head>
  <body>
    <header>
      <div id="header-title">
        <a href="/"><span id="header-name" class="terminal-path">ac-squared</span></a><span class="terminal-divisor">></span> home<span class="blink">|</span>

      </div>
      <div id="header-links">
        <a href="https://github.com/ac-squared" target="_blank">github</a>
        <a href="https://www.instagram.com/acvi_codeclub/" target="_blank">instagram</a>
      </div>
    </header>
    <main>
      <div class="section" id="about">
        <h1>
          <span class="terminal-divisor">~$</span> about
        </h1>
        <p class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div id="links-grid">
          <a href="https://forms.gle/ZxbtccvfcCUjR8FJ8" target="_blank" class="button large">General Member Application</a>
          <a href="https://classroom.google.com/c/NjM2MTIxNTkyODUx?cjc=zr4ay3u" target="_blank" class="button large">Join the Google Classroom</a>
        </div>
      </div>

      <div class="section" id="execs">
        <h1>
          <span class="terminal-divisor">~$</span> execs
        </h1>
        <p>Meet the execs! 😎</p>
        <div id="exec-grid">
          <div class="exec">
            <h2>Eashal Afzal</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="exec">
            <h2>Tait Berlette</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="exec">
            <h2>Irene Chen</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="exec">
            <h2>Mahati Tadepalli</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="exec">
            <h2>Joyi Xue</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      
      <div class="section" id="projects">
        <h1>
          <span class="terminal-divisor">~$</span> projects
        </h1>
        <p>Check out the featured projects we've made! ✨</p>
        <p id="projects-loading" class="content">
          Loading projects!
        </p>
        <div id="projects-grid" style="display: none"></div>
      </div>
      
      <div class="section" id="calendar">
        <h1>
          <span class="terminal-divisor">~$</span> calendar
        </h1>
        <p>What's happening at Anderson Code Club! 📅</p>
        <p id="calendar-loading" class="content">
          Loading calendar!
        </p>
        <div id="calendar-grid" style="display: none"></div>
      </div>
    </main>

    <footer>
      <p>
        Anderson Code Club 2023
      </p>
    </footer>
  </body>
</html>
