<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Anderson CVI Coding Club</title>
    <meta name="description" content="Homepage for the Anderson CVI Coding Club" />
    <meta name="author" content="Anderson CVI Coding Club" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/home.css" />
    <link rel="shortcut icon" href="./images/favicon.ico" />
    
    <script src="./source/index.js"></script>
  </head>
  <body>
    <header>
      <div id="header-title">
        <a href="/"><span id="header-name" class="terminal-path">ac-squared</span></a><span class="terminal-divisor">></span> home<span class="blink">|</span>
        
      </div>
      <div id="header-links">
        <a href="https://github.com/ac-squared" target="_blank">github</a>
        <a href="https://www.instagram.com/acvi_codeclub/" target="_blank">instagram</a>
      </div>
    </header>
    <main>
      
    </main>
    <footer>

    </footer>
  </body>
</html>
